<div class="container">
  <h3>User Information</h3>
  <mat-card appearance="outlined" class="info-card">
    <mat-card-header>
      <mat-card-title>Username</mat-card-title>
      <mat-card-subtitle>Email</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, placeat
      quidem nesciunt, doloremque aliquam voluptates assumenda in ipsum,
      distinctio ex recusandae blanditiis. Eligendi sapiente modi illo iure eum
      sequi necessitatibus.
    </mat-card-content>
  </mat-card>
  <br />
  <h3>Order history</h3>
  <app-order-history />
  <app-order-history />
</div>
