<div class="container">
  <h3>User Information</h3>
  <mat-card appearance="outlined" class="info-card">
    <mat-card-header>
      <img
        src="assets/images/user.jpg"
        alt="user image"
        height="50px"
        class="img-fluid mx-auto d-block user-image"
      />
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td>Full name:</td>
          <td>
            <mat-card-subtitle>
              {{ userInfo?.profile?.firstName || "Loading..." }}
              {{ userInfo?.profile?.lastName || "" }}
            </mat-card-subtitle>
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <mat-card-subtitle>{{
              userInfo?.profile?.email || "Loading..."
            }}</mat-card-subtitle>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
  <h3>Order history</h3>
  <div *ngFor="let order of historyOrders">
    <app-order-history [order]="order" />
  </div>
</div>
