.history-text {
  text-align: justify;
}

.card {
  height: 550px !important;
  max-width: 400px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.about-content {
  h2 {
    text-align: center;
  }
}
