<div class="container">
  <h2>The Nook Book Store</h2>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img
        src="assets/images/banner.png"
        alt=""
        height="350px"
        class="rounded img-fluid"
      />
    </div>
    <div class="col-lg-6 col-md-12">
      <i class="history-text">
        Founded in 2017, The Nook Book Store began as a small, independent
        bookstore located in the heart of the city. What started as a modest
        shop with just a few bookshelves has since transformed into a beloved
        hub for book lovers of all ages. Our founder, Joey Bui, an avid reader
        and passionate advocate for the written word, envisioned a place where
        people could discover new stories, dive into different worlds, and
        explore ideas that challenge and inspire them. Over the years, The Nook
        has grown from a single-room storefront into a thriving community space
        with an expanded online presence. We pride ourselves on curating an
        eclectic selection of books that range from the latest bestsellers to
        timeless classics, as well as supporting local authors and emerging
        voices.
      </i>
    </div>
  </div>
  <hr />
  <div class="about-content">
    <h2>What we offer</h2>
    <div class="row">
      <div class="col-sm-4">
        <mat-card class="card" appearance="outlined" routerLink="/category/1">
          <mat-card-header>
            <mat-card-title>Books</mat-card-title>
            <mat-card-subtitle>With various genre</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets/images/category-1.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Explore a curated selection of books at The Nook Book Store, from
              bestsellers to timeless classics. Whether you’re into fiction,
              non-fiction, or children's books, we have something for every
              reader.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card class="card" appearance="outlined" routerLink="/category/2">
          <mat-card-header>
            <mat-card-title>Stationery</mat-card-title>
            <mat-card-subtitle>With high quality</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets/images/category-3.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Our Stationery collection features premium notebooks, elegant
              pens, planners, and more. Perfect for journaling, organizing, or
              simply writing in style, find everything you need to express your
              creativity.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card class="card" appearance="outlined" routerLink="/category/3">
          <mat-card-header>
            <mat-card-title>Souvenirs</mat-card-title>
            <mat-card-subtitle>For your loved ones</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets/images/category-2.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Take home a piece of The Nook with our literary-inspired
              Souvenirs. From tote bags to bookmarks and mugs, these unique
              gifts are perfect for book lovers or as a special keepsake.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <h2>Looking Ahead</h2>
    <div class="col-lg-6 col-md-12">
      <p class="history-text">
        As we look toward the future, we remain committed to our original vision
        – to create a space where readers can discover new books, engage in
        meaningful conversations, and find inspiration in the written word. We
        are excited to continue expanding our online offerings, grow our
        community outreach programs, and support new voices in the literary
        world. At The Nook Book Store, we believe that books have the power to
        change the world. Whether you're looking to lose yourself in a new
        adventure or deepen your understanding of the world around you, we hope
        to be your trusted guide on that journey.
      </p>
    </div>
    <div class="col-lg-6 col-md-12">
      <img
        src="assets/images/banner_2.png"
        alt=""
        height="350px"
        class="rounded img-fluid"
      />
    </div>
  </div>
  <br />
  <div
    class="end"
    style="display: block; margin-left: auto; margin-right: auto"
  >
    <button
      style="display: block; margin-left: auto; margin-right: auto"
      mat-raised-button
      class="btn"
      routerLink="/products"
    >
      Go to shopping
    </button>
  </div>
</div>
