<mat-card appearance="outlined" class="order-history-card">
  <mat-card-header>
    <mat-card-title>{{ order.orderTrackingNumber }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="order-table">
      @for (item of order.orderItems; track $index) {
      <tr>
        <td>{{ item.productId }}</td>
        <td> {{ item.quantity }}</td>
      </tr>
      }
    </table>
    <mat-card-subtitle>Total Quantity: xxx</mat-card-subtitle>
    <mat-card-subtitle>Total Price: xxx</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<br />
