<mat-card appearance="outlined" class="order-history-card">
  <mat-card-header>
    <mat-card-title>{{ order.orderTrackingNumber }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="order-table">
      @for (item of order.orderItems; track $index) {
      <tr>
        <td>{{ item.productName }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unitPrice }}</td>
      </tr>
      }
    </table>
    <mat-card-subtitle
      >Created on:
      {{ order.dateCreated | date : "dd-MM-yyyy" }}</mat-card-subtitle
    >
    <mat-card-subtitle>Status: {{ order.status }}</mat-card-subtitle>
    <mat-card-subtitle
      >Total Quantity: {{ getTotalQuantity() }}</mat-card-subtitle
    >
    <mat-card-subtitle>Total Price: {{ getTotalPrice() }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<br />
