<a routerLink="/products/{{ product.id }}">
  <mat-card class="product-card" appearance="outlined">
    <img
      mat-card-image
      src="{{ product.imageUrl }}"
      alt="Photo of the product"
    />

    <mat-card-content style="text-align: center">
      <span
        title="{{ product.name }}"
        class="d-inline-block text-truncate"
        style="max-width: 200px; font-weight: 600"
      >
        {{ product.name }}
      </span>
      <br />
      <span
        title="{{ product.description }}"
        class="d-inline-block text-truncate description-field"
        style="max-width: 200px"
      >
        {{ product.description }}
      </span>
      <h6>{{ product.unitPrice }}</h6>
    </mat-card-content>
    <mat-card-actions style="justify-content: space-around">
      <button
        mat-flat-button
        class="cart-button"
        (click)="
          $event.preventDefault(); $event.stopPropagation(); addToCart(product)
        "
      >
        <mat-icon>add_shopping_cart</mat-icon>
        Add to cart
      </button>
      <button mat-stroked-button class="details-button">View details</button>
    </mat-card-actions>
  </mat-card>
</a>
