.product-card {
  max-width: 400px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
.cart-button {
  background-color: var(--dark-purple) !important;
}
.details-button {
  color: var(--dark-purple) !important;
  border-color: var(--dark-purple) !important;
  background-color: #fff !important;
}

button {
  font-size: 10pt;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Default font size */
span {
  font-size: 1rem; /* 2rem for larger screens */
}

/* Medium screens and below (tablets, mobile devices) */
@media (max-width: 667) {
  span {
    font-size: 1rem !important; /* 1.75rem for tablets */
  }
}

@media (max-width: 576px) {
  span {
    font-size: 1rem; /* 1.5rem for mobile */
  }
}

/* Small screens (mobile) */
@media (max-width: 400px) {
  span {
    font-size: 1rem; /* Smaller font size for small screens */
  }
}
