.security-btn {
  background-color: #f7efe5 !important;
  color: #674188 !important;
}

.login-status-header {
  display: flex;
  align-items: center;
}

.login-status-user-info {
  margin-right: 8px;
  cursor: pointer;
}
