.mat-mdc-paginator {
  background: none;
}
.sort-controls {
  display: flex;
  margin-bottom: 8px;
  justify-content: end;
  .sort-controls-button {
    margin: 2px;
    background-color: var(--background-color) !important;
    color: var(--dark-purple) !important;
    border: 1px solid var(--dark-purple);
  }
}
